PORT=5000
NODE_ENV=production
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_secure_random_string
CLIENT_URL=https://wishly-frontend.onrender.com

# Optional (If used)
STRIPE_SECRET_KEY=
RAZORPAY_KEY_ID=rzp_test_SgdWJy9NLivCdY
RAZORPAY_KEY_SECRET=ck8LRNVoGfhAvAmHs1iFZOtc
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
